<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" style="padding-bottom: 20px; width:60%; margin:auto; display:block" />
        {% endif %}
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="https://www.meetup.com/thaipy-bangkok-python-meetup/">Visit our Meetup Page</a><br />
          <a href="{{ site.github.owner_url }}">Visit our GitHub Profile</a><br />
          <!-- <a href="https://www.redbubble.com/people/ThaiPy/shop">Get some ThaiPy Swag</a></p> -->
        {% endif %}

        {% if site.show_downloads %}
        <ul>
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}

        <h2>Next meetup</h2>
        <p><strong><span id="newdate">Every 3rd Thursday</span> <span id="showtime"></span></strong> - 
          <a href="https://www.meetup.com/thaipy-bangkok-python-meetup/">Join Us</a>
          <a href="https://www.meetup.com/thaipy-bangkok-python-meetup/">RSVP</a>
        </p>

        <py-config>
          packages = ["python-dateutil", "BeautifulSoup4", "requests"]
          [splashscreen]
          enabled = false
          #[[fetch]]
          #from = 'https://openrss.org/www.meetup.com/thaipy-bangkok-python-meetup/'
          #from = "https://www.meetup.com/thaipy-bangkok-python-meetup/"
          #files = ["events"]
        </py-config>
  
      <py-script>
              import asyncio
              from datetime import datetime as dt
              import calendar
              import json
              import requests
              from dateutil.relativedelta import relativedelta
              from pyodide.http import pyfetch

              async def nextevent(): 
                  page = await pyfetch("https://www.meetup.com/thaipy-bangkok-python-meetup/")
                  data = json.loads(page.split('<script id="__NEXT_DATA__" type="application/json">')[1].split("</script>")[0])
                  props = data['props']['pageProps']['__APOLLO_STATE__']
                  return sorted([(datetime.fromisoformat(p['dateTime']),p) for p in props.values() if hasattr(p, 'get') and p.get(u'dateTime', None)])

              async def next_repeat():
                  next_date = calendar.Calendar(3).monthdatescalendar(dt.now().year, dt.now().month)[3][0]
                  if next_date &lt; dt.now().date():
                      next_date = calendar.Calendar(3).monthdatescalendar(dt.now().year, dt.now().month+1)[3][0]
                  return (dt(next_date.year, next_date.month, next_date.day, 18, 30, 0), "")

              async def main():
                  next_date, next_event = await next_repeat()
                  
                  output_year = f"{next_date.strftime('%a %b %d')}"
                  Element("newdate").write(output_year)
                  while True:
                      td = relativedelta(next_date, dt.now())
  
                      output = (
                          "- in "
                          #f"{td.months} month{'' if td.months == 1 else 's'} "
                          f"{td.days} day{'' if td.days == 1 else 's'} "
                          f"{td.hours} hour{'' if td.hours == 1 else 's'} "
                          f"{td.minutes} minute{'' if td.minutes == 1 else 's'} "
                          f"{td.seconds} second{'' if td.seconds == 1 else 's'}"
                      )
                      Element("showtime").write(output)
  
                      await asyncio.sleep(1)
  
              asyncio.ensure_future(main())
              # Feeds - 
      </py-script>
        </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a> 
          &mdash; <a href="view-source:https://thaipy.github.io/">&lt;py&gt; inside!</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
